@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --color-bg:#e7e7e7;
  --secondary-bg:#ffff;
  --color-foreign:#000000;
  --hover-card:#f4f4f4;
}

[data-theme='dark'] {
  --color-bg:#000000;
  --secondary-bg:#0b0c0d;
  --color-foreign:#F0EFF4;
  --hover-card:#011927;
}

body {
  background-color: var(--color-bg);
  color: var(--color-foreign);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.scrollable {
  overflow-y: auto; /* Enables vertical scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
}

/* For WebKit browsers */
.scrollable::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Opera */
}

.toast-success {
  @apply bg-green-100 border-green-500 text-green-700;
}

.toast-failed {
  @apply bg-red-100 border-red-500 text-red-800;
}

.no-scroll-tabs [role="tabpanel"] {
  overflow: visible !important;
  height: auto !important;
}

.chatbox{
  background-image:url('../../public/Images/lightThemechatBg.jpg');
  background-position: center;
  background-size: auto;
}

[data-theme='dark']{
  .chatbox{
    background-image:url('../../public/Images/darkThemChatbg.png');
  }
}


